.display-stack {
    width: 96px;
    height: 144px;
    background-color: rgba(32, 16, 9, 0.5);
    border-radius: 5px;
}

.display-stack .card:not(:first-child) {
    margin-top: -110px;
}

.display-pile {
    width: 96px;
    height: 144px;
    background-color: rgba(32, 16, 9, 0.5);
    border-radius: 5px;
}

.display-pile .card {
    position: absolute;
}

.display-chose {
    display: flex;
    justify-content: center;
    width: 96px;
    height: 144px;
    background-color: rgba(32, 16, 9, 0.5);
    border-radius: 5px;
}

.display-chose .card:not(:first-child) {
    margin-left: -60px;
}