.stack {
    margin-top: 50px;
}

.add-to-stack1 {
    position: absolute;
    left: 0;
    top: 0;
}

.add-to-stack2 {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 50px;
}

.add-to-stack3 {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 100px;
}

.add-to-stack4 {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 150px;
}